:root {
    --md-primary-fg-color:        #4379AA;
    --md-primary-fg-color--light: #73a6d6;
    --md-primary-fg-color--dark:  #4379AA;
    --md-accent-fg-color--dark:  #9ABC31;
    --md-accent-fg-color--light:  #9ABC31;
  }